{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/css/footer.css' %}"/>


<footer class="footer-container">

    <div class="footer-right">

        <a href="https://twitter.com/Cristiano" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/gabrieldeus02/" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="https://github.com/gabrieldeus22001658" target="_blank"><i class="fa fa-github"></i></a>

    </div>
    <div class="footer-middle">
        <div class="clock">
        </div>
        <p style="color: lightgray; margin-left: -1.9vw"><a href="{% url 'portfolio:diagramas' %}">Mapa do Site</a></p>
    </div>

    <div class="footer-left">

        <p style="color:#E8E4C9; margin-bottom: 0.5rem">+351 961231231 <i class="fa fa-phone-square"
                                                                          aria-hidden="true"></i></p>
        <p style="color: #E8E4C9; margin-bottom: 0.5rem">gabrieldeus2002@gmail.com <i class="fa fa-envelope"
                                                                                      aria-hidden="true"></i></p>

        <p>Gabriel Deus , ULHT &copy; 2022 </p>
    </div>
    {% load static %}
    <script src="{% static 'portfolio/js/tempo.js' %}"></script>
</footer>