{% extends 'portfolio/base.html' %}
{% block title %} Blog{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/css/licenciatura.css' %}">

<div class="container-masterC" style="text-align: center; padding-bottom: 3vh">
    <div class="container-cadeira" style="flex-flow: column wrap">
        <h1 style="text-align: center; color: white; margin-top: 5vh">Blog - <a
                href="{% url 'portfolio:add_blog' %}"><small>(add-post)</small></a></h1>
        {% for blog in object_list %}
        <div>
            <p class="nome">{{ blog.titulo }}</p>
            <hr>
            <p class="ano"><b>Autor: </b>{{ blog.autor }} -
                <small><a href="{% url 'portfolio:edit_blog' blog.pk %}">(Edit)</a></small>
                <small><a href="{% url 'portfolio:delete_blog' blog.pk %}">(Delete)</a></small><br/></p>
            <p class="topicos">{{blog.descricao}}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
