{% extends 'portfolio/layout.html' %}

{% block main %}
{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/css/licenciatura.css' %}">
<div class="cadeira">
    <div>
        <h2>Contabilidade 4/5 &#11088 </h2>
        <p>1º Ano, 1º Semestre, 6 ECTS, 2020/2021</p>
        <p>Nesta cadeira dá se uma noção do que é a contabilidade e para que serve.</p>
        <p>Professor: Lee Doo Hieng</p>
        <p><a href="https://www.linkedin.com/in/lee-doo-hieng-9338b768?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BD171rj%2FsRsmsU4e9nXMeew%3D%3D"
        target="_blank">Linkedin</a></p>
        <p><a href="https://www.ulusofona.pt/licenciaturas/informatica-de-gestao/contabilidade/ULHT12-1796" target="_blank">Link da página da cadeira</a></p>
    </div>
    <div>
        <h2>Cálculo Financeiro 4/5 &#11088</h2>
        <p>1º Ano, 2º Semestre, 5 ECTS, 2020/2021</p>
        <p>Cálculos Financeiros.</p>
        <p>Professor: Rui Cardoso</p>
        <p><a href="https://www.linkedin.com/in/rui-cardoso-071205/"
        target="_blank">Linkedin</a></p>
        <p><a href="https://www.ulusofona.pt/licenciaturas/informatica-de-gestao/calculo-financeiro/ULHT12-154" target="_blank">Link da página da cadeira</a></p>
    </div>
    <div>
        <h2>Gestão Financeira 5/5 &#11088</h2>
         <p>2º Ano, 2º Semestre, 6 ECTS, 2021/2022</p>
        <p>Rácios e análise de empresas.</p>
        <p>Professor: Gualter Agrochão</p>
        <p><a href="https://www.linkedin.com/in/gualter-agroch%C3%A3o-2467a31aa/"
        target="_blank">Linkedin</a></p>
        <p><a href="https://www.ulusofona.pt/licenciaturas/informatica-de-gestao/gestao-financeira/ULHT12-324" target="_blank">Link da página da cadeira</a></p>
    </div>
</div>
    {% endblock %}