{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/css/navbar.css' %}"/>

<body>
<header class="header">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="logo">
                <a href="#">GD</a>
            </div>
            <button type="button" class="nav-toggler">
                <span></span>
            </button>
            <nav class="nav">
                <ul>
                    <li><a href="{% url 'portfolio:home' %}">Home</a></li>
                    <li><a href="{% url 'portfolio:apresentação' %}">Sobre mim</a></li>
                    <li><a href="{% url 'portfolio:projetos' %}">Projetos</a></li>
                    <li><a href="{% url 'portfolio:home' %}">Sobre a Web</a></li>
                    <li><a href="{% url 'portfolio:blog' %}">Blog</a></li>
                    <li><a href="{% url 'portfolio:home' %}">Contacto</a></li>
                    {% if user.is_authenticated %}
                    <li onclick="location.href = '{% url 'portfolio:logout' %}'"><a href="{% url 'portfolio:logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li onclick="location.href = '{% url 'portfolio:login' %}'"><a href="{% url 'portfolio:login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</header>
{% load static %}
<script src="{% static 'portfolio/js/nav.js' %}"></script>
</body>
