{% extends 'portfolio/base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/css/projetos.css' %}">
<h1 style="color: white;">Projetos realizados</h1>
{% for projeto in projetos %}
<div class="container-masterC" style="margin: 0px; margin-bottom: -30px">
    <div class="grid">
      <div class="grid-item">
        <div class="card">
          <img class="card-img" src="{{projeto.imagem.url}}" alt="Rome" />
          <div class="card-content">
            <h1 class="card-header">{{projeto.titulo}}
              {% if projeto.github != None%}
                 <a class="link" href={{projeto.github}} target="_blank"><i class='fa fa-github' style="color: black"> </i></a>
              {% endif %}
              {% if projeto.linkYt != None%}
                   <a class="link" href={{projeto.linkYt}} target="_blank"><i class='fa fa-youtube-play' style="color: black"> </i></a>
              {% endif %}
               - <small style="font-size: 0.65em">{{projeto.cadeira.nome}} ({{projeto.cadeira.ano}}º ano)</small>
            </h1>
            <p class="card-text">
              {{projeto.descricao}}
            </p>
            <p class="card-text">Competência adquirida: Programar em {{projeto.competencias.nome}}</p>
            <p class="card-text">Tecnologia utilizada: {{projeto.tecnologias}}</p>
            <p class="card-text">Grupo:
            {{projeto.participante1}}
            <a class="link" href={{projeto.participante1.linkLinkedin}} target="_blank"><i class='fa fa-linkedin-square' style="color: black"> </i></a>
            {% if projeto.participante2 != None%}
            || {{projeto.participante2}}
              <a class="link" href={{projeto.participante2.linkLinkedin}} target="_blank"><i class='fa fa-linkedin-square' style="color: black"> </i></a>
            {% endif %}
            </p>
          </div>
        </div>
      </div>
    </div>
</div>
{% endfor %}
<br>
{% endblock %}