{% extends 'portfolio/base.html' %}

{% block title %}
Sobre a Web
{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/css/pw.css' %}">

<div class="corConfig">
    <h1 class="projetosH1">...</h1>
</div>
{% for noticia in noticias %}
<div class="container-masterC" style="margin: 0px; margin-bottom: -30px">
    <div class="grid">
        <div class="grid-item">
            <div class="card">
                <img class="card-img" src="{{noticia.imagem.url}}"/>
                <div class="card-content">
                    <h1 class="card-header">{{noticia.titulo}}
                    </h1>
                    <p class="card-text">
                        {{noticia.descricao}}
                    </p>
                    <p class="card-text">Autor:
                        {{noticia.autor}}
                    </p>
                    <a href={{noticia.link}} target="_blank"><button class="card-btn"><b>Leia Mais</b><span>&rarr;</span></button></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<br>
{% endblock %}