* {
  font-family: "Prompt", sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.formato {
    max-width: 100vh;
}

body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-weight:400;
  color:#666;
}

.chart {
   display: inline-block;
   width: 50vw;
}

.outbox {
    text-align: center;
}

