

.espacamento {
  background-color: white;
  height: 10vh;
  max-width: 100%;
}

.formato {
    max-width: 100vh;
}

body {
    margin: 15px 15px 30px 5vw;
}

.chart {
   display: inline-block;
   width: 50vw;
}

.outbox {
    text-align: center;
}