.cadeira {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px;
  margin: 70px;
}

.cadeira a {
    text-decoration: none;
    
}

.cadeira > div {
  background-color: rgb(241, 190, 132);
  height: 250px;
  width: 300px;
  box-shadow: 5px 5px 15px black;
  border-radius: 8px;
  padding: 10px 10px;
  text-overflow: ellipsis;
  margin: 10px 70px 70px 10px;
}

.cadeira h2 {
  position: relative;
  top: 2px;
  align-items: center;
  text-align: center;
  font-size: 23px;
  max-width: 100%;
  overflow: hidden;
  margin: 5px;
}

.cadeira p {
  position: relative;
  left: 10px;
  top: 20px;
  font-size: 17px;
  word-wrap: break-word;
  max-width: 100%;
  overflow: hidden;
  margin: 1px;
  padding: 1px;
}

/* Começo */

* {
  box-sizing:border-box;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
    background-color: grey;
  width: 100vw;
  height: 100vh;
  position: absolute;
  margin: 0px;
}

.menu {
  display: flex;
  position: absolute;
  background: #23232e;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  left: 0;
  top: 0;
  padding: 50px;
  height: 8vh;
  z-index: 1000;
}

.menu nav {
 display:flex;
 justify-content: flex-end;
 flex: 1 0 auto;
 }

header {
  margin-top: -10px;
  margin-right: -10px;
  margin-left: -10px;
}

.menu h1 {
color: white;
display: flex;
    font-size: 1.7em;
    padding: 5px;
    margin: 5px;
    align-self: center;
    justify-contents: flex-end;
}

nav a {
  padding: 20px;
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 2px black;
}

nav a:hover {
  background-color: rgb(78, 162, 190);
  color: white;
  font-weight: bolder;
}

header {
  margin-top: -10px;
  margin-right: -10px;
  margin-left: -10px;
}

footer {
  height:5vh;
  display:flex;
  justify-content: flex-end;
  padding: 0 2vw;
  align-items: center;
}
