@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

.footer {
  font-family: Roboto;
}

.footer-container {
  display: grid;
  grid-template-areas:
  "left middle right";
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-container .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}

.footer-container p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #FFF;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-container p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-container .footer-links a:before {
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}


.footer-container .footer-right {
  float: right;
  justify-content: flex-end;
  margin-top: 6px;
  max-width: 180px;
}

.footer-container .footer-right a {
  display: inline-block;
  justify-content: flex-end;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #FFF;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-container .footer-right a:hover{
    transform:scale(1.1); -webkit-transform:scale(1.1);
}

.footer-container p.footer-links a:hover{
    text-decoration:underline;
}

.clock{
  position: relative;
  color: #fff;
  font-size: 1.6rem;
  letter-spacing: 12px;
  margin-left: -4vw;
}

.footer-right {
    grid-area: right;
    justify-self: end;
}

.footer-left {
    grid-area: left;
    justify-self: start;
}

.footer-middle {
    grid-area: middle;
    justify-self: center;
    align-self: center;
}

@media (max-width: 600px) {
  .footer-container .footer-left, .footer-container .footer-right {
    text-align: center;
    margin-left: -40px;
    margin-right: -40px;
    font-size: 0.1em;
  }
  .footer-container .footer-right {
    float: none;
    margin-top: 20px;
    margin-right: -40px;
  }
  .footer-container .clock {
    display: none;
  }
  .footer-container .footer-left p.footer-links {
    line-height: 1.8;
  }
}